{% include 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Chatbot</h2>
        </div>
        <div class="container">
            <p>I am trained on the following:</p>
            <ul>
                <li>Education</li>
                <li>Work Experience</li>
                <li>Skills</li>
                <li>Map2tech</li>
                <li>Purple Packet Security</li>
            </ul>

        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col">
            <form method="post">
                <div class="mb-3">
                    <label for="question" class="form-label">Ask bot:</label>
                    <input type="text" class="form-control" id="question" name="question">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {% if answer %}
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bot:</h4>
                    <p class="card-text">{{ answer }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
