{% include 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <h2>Welcome Home</h2>
        </div>
    </div>
</div>
{% endblock %}
